<div class = "mt-4">
    <div class = "row">

        {{#each courses}}
        <div class="col-sm-6 col-lg-4" style="margin-top: 12px">
            <div class="card">
                <a href = '/courses/{{this.slug}}'>
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">

                    <a href = "/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                        <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary" style="transform: translateX(-50px);">ĐĂNG KÍ</a>
                </div>
            </div>
        </div>

        {{/each}}


        
    </div>

</div>