<form class = "mt-4" name = "container-form" method="POST" action="/courses/handle-form-action" style="text-align:center;">
    <table class="table">
        <h3>KHÓA HỌC CỦA TÔI</h3><table class="table">
        <div>
          <a href="/me/trash/courses" style="display:block; margin-bottom: 32px; font-size:24px">THÙNG RÁC ({{deleteCourses}})</a>
        </div>
        {{?_sort.type}}
        <div class = "all-check-box-courses">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
              <label class="form-check-label" for="checkbox-all">
                CHỌN TẤT CẢ
              </label>
            </div>
            
            <select class="selector" name = "action" required>
              <option value = "">--CHỌN HÀNH ĐỘNG--</option>
              <option value="delete">XÓA</option>
              
            </select>
            
            <button class = "btn-thuchien" disabled>THỰC HIỆN</button>

        </div>

        <thead>
            <tr>
                <th>CHECK</th>
                <th scope="col">STT</th>
                <th scope="col">
                  TÊN KHÓA HỌC
                  {{{sortable "name" _sort}}}
                </th>
                <th scope="col">
                  TRÌNH ĐỘ  
                  {{{sortable "level" _sort}}}

                </th>
                <th scope="col">
                    THỜI GIAN TẠO
                   {{{sortable "createdAt" _sort}}}
                </th>
                <th scope="col">ĐIỀU CHỈNH</th>
            </tr>
        </thead>

        <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{this._id}}" id = "{{this._id}}" name = "courseIds[]">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href = "/courses/{{this._id}}/edit" class="btn-update" style="margin:0px 16px">Sửa</a>
                    <a href = "/courses" class = "btn-delete" data-toggle="modal" data-whatever="{{this._id}}" data-target="#delete-course-modal">Xóa</a>
                </td> 
            </tr>
            {{else}}
            <tr>
              <td colspan="5">
                Bạn chưa đăng khóa học nào
                <a href = "/courses/create">NƠI ĐĂNG KÝ KHÓA HỌC</a>
              </td>
            </tr>

            {{/each}}
    
        </tbody>
    </table>
</form>

{{!-- //CHECKBOX MODAL HIEN RA KHI MUON XOA VINH VIEN HAY KHONG XOA --}}
<div class="modal" tabindex="-1" role="dialog" id="delete-course-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">THONG BAO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>BAN CO CHAC CHAN MUON XOA KHOA HOC KHONG</p>
      </div>
      <div class="modal-footer">
        <button id = "btn-delete-course" type="button" class="btn btn-danger">Xoa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huy</button>
      </div>
    </div>
  </div>
</div>



{{!-- //DELETE HIDDEN FORM/ --}}
<form name = "delete-course-form" method="POST"></form>


{{!-- //src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" --}}

<script>

    document.addEventListener("DOMContentLoaded", function(event) {
        var courseID;
        var deleteForm = document.forms["delete-course-form"];

        var btnDeleteCourse = document.getElementById("btn-delete-course")
        var checkboxAll = $("#checkbox-all");
    
        var courseItemCheckbox = $('input[name = "courseIds[]"]')

        var checkSubmitBtn = $(".btn-thuchien")
        console.log(checkSubmitBtn)

        var containerForm = document.forms["container-form"]
        console.log(containerForm);
        
        $.fn.hasAttr = function(name) {  
          return this.attr(name) !== undefined;
        };

        checkSubmitBtn.click(function(e){
          e.preventDefault();
          var isSubmitable = !$(this).hasAttr("disabled");
          if (isSubmitable){
            containerForm.submit();
          }else{
            console.log('ERROR SUBMIT')
          }
        })
        

        //checkboxALL (CHECK VÔ CÁC Ô CHECKBOX Ở GIỎ HÀNG KHÓA HỌC)
        checkboxAll.change(function(){
          var isCheckBoxAll = $(this).prop("checked");
          courseItemCheckbox.prop("checked", isCheckBoxAll);
          rerenderCheckSubmit()
      
        })

        courseItemCheckbox.change(function() {
          var isCheckBoxAll = courseItemCheckbox.length === $('input[name = "courseIds[]"]:checked').length
          if (!isCheckBoxAll){
            checkboxAll.prop("checked", false)
          }else{
            checkboxAll.prop("checked", true)
          }
          rerenderCheckSubmit()
        })

        function rerenderCheckSubmit(){
          var checkCount = $('input[name = "courseIds[]"]:checked').length
          console.log(checkCount)
          if (checkCount > 0){
            checkSubmitBtn.removeAttr("disabled", false)
          } else {
            checkSubmitBtn.attr("disabled", true)
          }
        }
        

        //XOA CAC GIO HANG HIEN MODAL DE MUON XOA VINH VIEN HAY KHONG
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var courseID = button.data('whatever')
            console.log(courseID);

        btnDeleteCourse.onclick = function() {
        deleteForm.action = "/courses/" + courseID + "?_method=DELETE";
        deleteForm.submit();
        }
})

})

  
</script> 





