<div class = "mt-4" style="text-align:center;">
    <table class="table">
        <h3 style="color: red;">
          KHÓA HỌC ĐÃ XÓA
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
          <span class="material-symbols-outlined" style="font-size: 80px; transform: translateY(26px)">delete</span>
        </h3><table class="table">
        <div>
          <a href="/me/stored/courses" style="display:block; margin-bottom: 32px; font-size:24px">QUAY LẠI DANH SANH KHÓA HỌC</a>
        </div>

        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">TÊN KHÓA HỌC</th>
                <th scope="col">TRÌNH ĐỘ</th>
                <th scope="col">THỜI GIAN XÓA</th>
                <th scope="col">ĐIỀU CHỈNH</th>
            </tr>
        </thead>

        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href = "#" style="margin:0px 16px" data-id = "{{this._id}}" class = "btn-restore">Khôi phục</a>
                    <a href = "/courses" class = "btn-delete" data-toggle="modal" data-whatever="{{this._id}}" data-target="#delete-course-modal">Xóa Vĩnh Viễn</a>
                </td> 
            </tr>
            {{else}}
            <tr>
              <td colspan="5">
                Bạn chưa đăng khóa học nào
                <a href = "/courses/create">NƠI ĐĂNG KÝ KHÓA HỌC</a>
              </td>
            </tr>

            {{/each}}
    
        </tbody>
    </table>
</div>


<div class="modal" tabindex="-1" role="dialog" id="delete-course-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">THONG BAO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>BAN CO CHAC CHAN MUON XOA KHOA HOC KHONG</p>
      </div>
      <div class="modal-footer">
        <button id = "btn-delete-course" type="button" class="btn btn-danger">Xoa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huy</button>
      </div>
    </div>
  </div>
</div>

<form name = "delete-course-form" method="POST"></form>

<form name = "restore-course-form" method="POST"></form>


{{!-- //src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" --}}

<script>

    document.addEventListener("DOMContentLoaded", function(event) {
        var courseID;
        var deleteForm = document.forms["delete-course-form"];
        console.log(deleteForm)
        var btnDeleteCourse = document.getElementById("btn-delete-course")
        console.log(courseID)

        var restoreForm = document.forms["restore-course-form"]
        console.log(restoreForm)

        var restoredBtn = $(".btn-restore")
        console.log(restoredBtn)

        restoredBtn.click(function(e){
          e.preventDefault();
          var courseId = $(this).data("id");
          console.log(courseId);
            restoreForm.action = "/courses/" + courseId + "/restore?_method=PATCH";
            restoreForm.submit();
        })
        
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var courseID = button.data('whatever')
            console.log(courseID);

        btnDeleteCourse.onclick = function() {
        deleteForm.action = "/courses/" + courseID + "/force?_method=DELETE";
        deleteForm.submit();
        }

        
})

})

  
</script> 





